/.metadata/
ex-1/.classpath
ex-1/.project
ex-1/.settings/org.eclipse.jdt.core.prefs
ex_03_03/.settings/org.eclipse.jdt.core.prefs
ex_03_03/.classpath
ex_03_04/.project
ex_03_04/.settings/org.eclipse.jdt.core.prefs
ex_03_04/.classpath
ex_03_03/.project
ex-3/.project
ex-3/.classpath
ex-3/.settings/org.eclipse.jdt.core.prefs
ex-4/.settings/org.eclipse.jdt.core.prefs
ex-4/.project
ex-4/.classpath
ex-5/.classpath
ex-5/.project
*.prefs
ex-6/.classpath
ex-6/.project
ex-7/.project
ex-7/.classpath
